In [84]:
import requests
import pandas as pd
import csv
import numpy as np

In [86]:
symbol = 'AAPL'

In [88]:
symbol = 'AAPL'
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={symbol}&outputsize=full&apikey=2PAW2LI9TE76UF80'
r = requests.get(url)
data = r.json()

#print(data)

In [318]:
df = data["Time Series (Daily)"]

In [320]:
df = pd.DataFrame.from_dict(df, orient="index")

In [322]:
df.head()

             1. open   2. high    3. low  4. close 5. volume
2025-02-11  228.2000  235.2300  228.1300  232.6200  53718362
2025-02-10  229.5700  230.5850  227.2000  227.6500  33115645
2025-02-07  232.6000  234.0000  227.2600  227.6300  39707224
2025-02-06  231.2850  233.8000  230.4250  233.2200  29925349
2025-02-05  228.5300  232.6700  228.2700  232.4700  39664989

In [324]:
df.tail()

            1. open  2. high   3. low 4. close 5. volume
1999-11-05  84.6200  88.3700  84.0000  88.3100   3721500
1999-11-04  82.0600  85.3700  80.6200  83.6200   3384700
1999-11-03  81.6200  83.2500  81.0000  81.5000   2932700
1999-11-02  78.0000  81.6900  77.3100  80.2500   3564600
1999-11-01  80.0000  80.6900  77.3700  77.6200   2487300

In [326]:
df.describe()

        1. open  2. high   3. low 4. close 5. volume
count      6359     6359     6359     6359      6359
unique     5559     5454     5554     5588      6337
top     19.0600  15.0000  14.0000  19.5000   3554400
freq          6        8        9        6         2

In [328]:
df.shape

(6359, 5)

In [330]:
df.columns= ["Open", 'High', 'Low', 'Close', 'Volume']

In [333]:
df = df.astype({"Open": float})

In [335]:
df = df.astype({"Open": float, "High": float})

In [337]:
df = df.astype({"Open": float, "High": float, "Low": float})

In [339]:
df = df.astype({"Open": float, "High": float, "Low": float, "Close": float})

In [343]:
df = df.astype({"Open": float, "High": float, "Low": float, "Close": float, "Volume": float})

In [345]:
df.head()

               Open     High      Low   Close      Volume
2025-02-11  228.200  235.230  228.130  232.62  53718362.0
2025-02-10  229.570  230.585  227.200  227.65  33115645.0
2025-02-07  232.600  234.000  227.260  227.63  39707224.0
2025-02-06  231.285  233.800  230.425  233.22  29925349.0
2025-02-05  228.530  232.670  228.270  232.47  39664989.0

In [347]:
df.describe()

              Open         High          Low        Close        Volume
count  6359.000000  6359.000000  6359.000000  6359.000000  6.359000e+03
mean    174.966429   176.899194   172.941781   174.982006  3.433342e+07
std     146.398985   147.604893   144.998294   146.338196  8.650839e+07
min      12.990000    13.190000    12.720000    13.120000  7.025000e+05
25%      80.780000    81.945000    79.575000    80.975000  1.223495e+07
50%     140.720000   142.500000   138.810000   140.820000  2.494690e+07
75%     207.155000   209.415000   205.090000   207.625000  4.461363e+07
max     702.410000   705.070000   699.570000   702.100000  6.488270e+09

In [349]:
df

               Open     High      Low   Close      Volume
2025-02-11  228.200  235.230  228.130  232.62  53718362.0
2025-02-10  229.570  230.585  227.200  227.65  33115645.0
2025-02-07  232.600  234.000  227.260  227.63  39707224.0
2025-02-06  231.285  233.800  230.425  233.22  29925349.0
2025-02-05  228.530  232.670  228.270  232.47  39664989.0
...             ...      ...      ...     ...         ...
1999-11-05   84.620   88.370   84.000   88.31   3721500.0
1999-11-04   82.060   85.370   80.620   83.62   3384700.0
1999-11-03   81.620   83.250   81.000   81.50   2932700.0
1999-11-02   78.000   81.690   77.310   80.25   3564600.0
1999-11-01   80.000   80.690   77.370   77.62   2487300.0

[6359 rows x 5 columns]

In [351]:
df.reset_index(inplace = True)

In [359]:
df.head()

         Date     Open     High      Low   Close      Volume
0  2025-02-11  228.200  235.230  228.130  232.62  53718362.0
1  2025-02-10  229.570  230.585  227.200  227.65  33115645.0
2  2025-02-07  232.600  234.000  227.260  227.63  39707224.0
3  2025-02-06  231.285  233.800  230.425  233.22  29925349.0
4  2025-02-05  228.530  232.670  228.270  232.47  39664989.0

In [355]:
df = df.rename(columns={"index": "date"})

In [361]:
df = df.sort_index(ascending=False).reset_index(drop=True)

In [363]:
df.head()

         Date   Open   High    Low  Close     Volume
0  1999-11-01  80.00  80.69  77.37  77.62  2487300.0
1  1999-11-02  78.00  81.69  77.31  80.25  3564600.0
2  1999-11-03  81.62  83.25  81.00  81.50  2932700.0
3  1999-11-04  82.06  85.37  80.62  83.62  3384700.0
4  1999-11-05  84.62  88.37  84.00  88.31  3721500.0

In [365]:
df

            Date     Open     High      Low   Close      Volume
0     1999-11-01   80.000   80.690   77.370   77.62   2487300.0
1     1999-11-02   78.000   81.690   77.310   80.25   3564600.0
2     1999-11-03   81.620   83.250   81.000   81.50   2932700.0
3     1999-11-04   82.060   85.370   80.620   83.62   3384700.0
4     1999-11-05   84.620   88.370   84.000   88.31   3721500.0
...          ...      ...      ...      ...     ...         ...
6354  2025-02-05  228.530  232.670  228.270  232.47  39664989.0
6355  2025-02-06  231.285  233.800  230.425  233.22  29925349.0
6356  2025-02-07  232.600  234.000  227.260  227.63  39707224.0
6357  2025-02-10  229.570  230.585  227.200  227.65  33115645.0
6358  2025-02-11  228.200  235.230  228.130  232.62  53718362.0

[6359 rows x 6 columns]

In [367]:
df.dtypes

Date       object
Open      float64
High      float64
Low       float64
Close     float64
Volume    float64
dtype: object

In [369]:
df['Date'] = pd.to_datetime(df['Date'])
df['daten'] = df['Date'].apply(lambda x: int(x.timestamp()))

In [371]:
df.dtypes

Date      datetime64[ns]
Open             float64
High             float64
Low              float64
Close            float64
Volume           float64
daten              int64
dtype: object

In [373]:
df.head()

        Date   Open   High    Low  Close     Volume      daten
0 1999-11-01  80.00  80.69  77.37  77.62  2487300.0  941414400
1 1999-11-02  78.00  81.69  77.31  80.25  3564600.0  941500800
2 1999-11-03  81.62  83.25  81.00  81.50  2932700.0  941587200
3 1999-11-04  82.06  85.37  80.62  83.62  3384700.0  941673600
4 1999-11-05  84.62  88.37  84.00  88.31  3721500.0  941760000

In [375]:
df = df[df["Date"] >= "2012-01-01"]

In [383]:
df = df[df["Date"] <= "2025-03-01"]

In [385]:
df.head()

           Date      Open    High     Low   Close      Volume       daten
3062 2012-01-03  409.4000  412.50  409.00  411.23  10793600.0  1325548800
3063 2012-01-04  410.0000  414.68  409.28  413.44   9286500.0  1325635200
3064 2012-01-05  414.9500  418.55  412.67  418.03   9688200.0  1325721600
3065 2012-01-06  419.7700  422.75  419.22  422.40  11367600.0  1325808000
3066 2012-01-09  425.5001  427.75  421.35  421.73  14072300.0  1326067200

In [387]:
df.shape

(3297, 7)

In [389]:
df.tail()

           Date     Open     High      Low   Close      Volume       daten
6354 2025-02-05  228.530  232.670  228.270  232.47  39664989.0  1738713600
6355 2025-02-06  231.285  233.800  230.425  233.22  29925349.0  1738800000
6356 2025-02-07  232.600  234.000  227.260  227.63  39707224.0  1738886400
6357 2025-02-10  229.570  230.585  227.200  227.65  33115645.0  1739145600
6358 2025-02-11  228.200  235.230  228.130  232.62  53718362.0  1739232000

Ok first part done, the regular data. Next the earnings dates, then the recommendations

In [132]:
symbol = 'COST'

In [196]:
url = f'https://www.alphavantage.co/query?function=EARNINGS_CALENDAR&symbol={symbol}&horizon=6month&apikey=2PAW2LI9TE76UF80'
r = requests.get(url)
# data = r.json()

# print(data)

In [27]:
# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
CSV_URL = f'https://www.alphavantage.co/query?function=EARNINGS_CALENDAR&symbol={symbol}&horizon=6month&apikey=2PAW2LI9TE76UF80'

with requests.Session() as s:
    download = s.get(CSV_URL)
    decoded_content = download.content.decode('utf-8')
    cr = csv.reader(decoded_content.splitlines(), delimiter=',')
    my_list = list(cr)
    for row in my_list:
        print(row)

['symbol', 'name', 'reportDate', 'fiscalDateEnding', 'estimate', 'currency']
['AAPL', 'Apple Inc', '2025-04-30', '2025-03-31', '', 'USD']
['AAPL', 'Apple Inc', '2025-07-30', '2025-06-30', '', 'USD']

In [29]:
my_list

[['symbol', 'name', 'reportDate', 'fiscalDateEnding', 'estimate', 'currency'],
 ['AAPL', 'Apple Inc', '2025-04-30', '2025-03-31', '', 'USD'],
 ['AAPL', 'Apple Inc', '2025-07-30', '2025-06-30', '', 'USD']]

In [31]:
columns = my_list[0]
df = pd.DataFrame(my_list[1:], columns=columns)
df.replace('', pd.NA, inplace=True)

In [33]:
df

  symbol       name  reportDate fiscalDateEnding estimate currency
0   AAPL  Apple Inc  2025-04-30       2025-03-31     <NA>      USD
1   AAPL  Apple Inc  2025-07-30       2025-06-30     <NA>      USD

In [35]:
df.dtypes

symbol              object
name                object
reportDate          object
fiscalDateEnding    object
estimate            object
currency            object
dtype: object

In [37]:
df = df.rename(columns={"reportDate": "Earnings Date"})

In [39]:
df

  symbol       name Earnings Date fiscalDateEnding estimate currency
0   AAPL  Apple Inc    2025-04-30       2025-03-31     <NA>      USD
1   AAPL  Apple Inc    2025-07-30       2025-06-30     <NA>      USD

In [41]:
df["Earnings Date"] = pd.to_datetime(df["Earnings Date"])

In [43]:
df.dtypes

symbol                      object
name                        object
Earnings Date       datetime64[ns]
fiscalDateEnding            object
estimate                    object
currency                    object
dtype: object

In [45]:
df['daten'] = df['Earnings Date'].apply(lambda x: int(x.timestamp()))

In [47]:
df['daten'] = np.floor(df['daten']/86400)

In [49]:
zdate = pd.to_datetime('2012-01-09')
zdate = int(zdate.timestamp())
zdate = zdate/86400
    
df['timedif'] = df['daten'].apply(lambda x: x-zdate)
df['timedif'] = df['timedif'].astype('int')

In [53]:
df

,symbol,name,Earnings Date,fiscalDateEnding,estimate,currency,daten,timedif
0,AAPL,Apple Inc,2025-04-30,2025-03-31,<NA>,USD,20208.0,4860
1,AAPL,Apple Inc,2025-07-30,2025-06-30,<NA>,USD,20299.0,4951

In [57]:
dfnew = df[['Earnings Date', 'daten', 'timedif']].copy()

In [67]:
fake_std_tick_dict = df.copy(deep=True)

In [65]:
%run datafunctions_AV.py

In [69]:
df = getData('AAPL', '2012-01-01', '2025-12-30', fake_std_tick_dict)

In [71]:
df

,Date,Open,High,Low,Close,Volume,daten,timedif,dups,drop,...,pvolvar,p2volvar,p2closevar,pvolvarchg,pclosevarchg,earntimedif,DaysTilEarn,Stock,sev5pcap,Sector
0,2012-01-09,425.5001,427.75,421.350,421.730,14072300.0,15348.0,0,0.0,keep,...,NaN,NaN,NaN,NaN,NaN,15,15,AAPL,0.000000,Tech
9,2012-01-23,422.6700,428.45,422.300,427.409,10930800.0,15362.0,14,14.0,keep,...,0.072464,NaN,NaN,NaN,NaN,15,1,AAPL,0.037562,Tech
19,2012-02-06,458.3800,464.98,458.201,463.970,8907600.0,15376.0,28,28.0,keep,...,0.243177,0.072464,0.000085,2.355840,4.240022,106,78,AAPL,0.045423,Tech
3309,2012-02-17,503.1100,507.77,500.300,502.120,19135900.0,15387.0,42,42.0,keep,...,0.725629,0.243177,0.000444,1.983949,-0.494018,106,64,AAPL,0.033620,Tech
38,2012-03-05,545.4200,547.48,526.000,533.160,28897300.0,15404.0,56,56.0,keep,...,0.103328,0.725629,0.000225,-0.857602,-0.646515,106,50,AAPL,0.023613,Tech
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3260,2024-12-23,254.7700,255.65,253.450,255.270,40858774.0,20080.0,4732,4732.0,keep,...,0.232278,0.330996,0.000035,-0.298244,2.809430,4770,38,AAPL,0.000000,Tech
3268,2025-01-06,244.3100,247.33,243.200,245.000,45045571.0,20094.0,4746,4746.0,keep,...,0.187907,0.232278,0.000134,-0.191028,0.067120,4770,24,AAPL,0.000000,Tech
4779,2025-01-17,232.1150,232.29,228.480,229.980,68488301.0,20105.0,4760,4760.0,keep,...,0.132893,0.187907,0.000143,-0.292772,1.296947,4770,10,AAPL,0.000000,Tech
3286,2025-02-03,229.9900,231.83,225.700,228.010,73063301.0,20122.0,4774,4774.0,keep,...,0.204722,0.132893,0.000329,0.540503,0.310095,4860,86,AAPL,0.013525,Tech
3295,2025-02-14,241.2500,245.55,240.990,244.600,40896227.0,20133.0,4785,4784.0,keep,...,0.109216,0.204722,0.000431,-0.466518,-0.041104,4860,75,AAPL,0.000000,Tech

In [75]:
df[['Date', 'earntimedif', 'DaysTilEarn']].tail(10)

           Date  earntimedif  DaysTilEarn
3211 2024-10-14         4679           17
3221 2024-10-28         4679            3
3231 2024-11-11         4770           80
3241 2024-11-25         4770           66
3250 2024-12-09         4770           52
3260 2024-12-23         4770           38
3268 2025-01-06         4770           24
4779 2025-01-17         4770           10
3286 2025-02-03         4860           86
3295 2025-02-14         4860           75

In [77]:
dfearns.head(10)

  Earnings Date    daten  timedif
1    2025-07-30  20299.0     4951
0    2025-04-30  20208.0     4860
0    2025-01-30  20118.0     4770
1    2024-10-31  20027.0     4679
2    2024-08-01  19936.0     4588
3    2024-05-02  19845.0     4497
4    2024-02-01  19754.0     4406
5    2023-11-02  19663.0     4315
6    2023-08-03  19572.0     4224
7    2023-05-04  19481.0     4133

In [419]:
df.tail(10)

,Date,Open,High,Low,Close,Volume,daten,timedif,dups,drop,...,pvolvar,p2volvar,p2closevar,pvolvarchg,pclosevarchg,earntimedif,DaysTilEarn,Stock,sev5pcap,Sector
3201,2024-09-30,230.040,233.000,229.65,233.00,54793391.0,19996.0,4648,4648.0,keep,...,1.602083,0.049223,0.000122,31.547435,1.323159,4951,303,AAPL,0.000000,Tech
3211,2024-10-14,228.700,231.730,228.60,231.30,39882085.0,20010.0,4662,4662.0,keep,...,0.079413,1.602083,0.000282,-0.950431,0.023363,4951,289,AAPL,0.000000,Tech
3221,2024-10-28,233.320,234.730,232.55,233.40,36087134.0,20024.0,4676,4676.0,keep,...,0.130671,0.079413,0.000289,0.645464,-0.568260,4951,275,AAPL,0.000000,Tech
3231,2024-11-11,225.000,225.700,221.50,224.23,42005602.0,20038.0,4690,4690.0,keep,...,0.155570,0.130671,0.000125,0.190542,0.169289,4951,261,AAPL,0.000000,Tech
3241,2024-11-25,231.460,233.245,229.74,232.87,90152832.0,20052.0,4704,4704.0,keep,...,0.016687,0.155570,0.000146,-0.892736,-0.418998,4951,247,AAPL,0.000000,Tech
3250,2024-12-09,241.830,247.240,241.75,246.75,44649232.0,20066.0,4718,4718.0,keep,...,0.330996,0.016687,0.000085,18.835545,-0.584559,4951,233,AAPL,0.002351,Tech
3260,2024-12-23,254.770,255.650,253.45,255.27,40858774.0,20080.0,4732,4732.0,keep,...,0.232278,0.330996,0.000035,-0.298244,2.809430,4951,219,AAPL,0.000000,Tech
3268,2025-01-06,244.310,247.330,243.20,245.00,45045571.0,20094.0,4746,4746.0,keep,...,0.187907,0.232278,0.000134,-0.191028,0.067120,4951,205,AAPL,0.000000,Tech
4776,2025-01-17,232.115,232.290,228.48,229.98,68488301.0,20105.0,4760,4760.0,keep,...,0.132893,0.187907,0.000143,-0.292772,1.296947,4951,191,AAPL,0.000000,Tech
3286,2025-02-03,229.990,231.830,225.70,228.01,73063301.0,20122.0,4774,4774.0,keep,...,0.204722,0.132893,0.000329,0.540503,0.310095,4951,177,AAPL,0.000000,Tech

TODO: 

Get historical earnings table and forward earnings table and append both. Then I can get accurate earnins time diff

In [144]:
url = 'https://www.alphavantage.co/query?function=EARNINGS&symbol=PYPL&apikey=2PAW2LI9TE76UF80'
r = requests.get(url)
data = r.json()

print(data)

{'symbol': 'PYPL', 'annualEarnings': [{'fiscalDateEnding': '2024-12-31', 'reportedEPS': '4.98'}, {'fiscalDateEnding': '2023-12-31', 'reportedEPS': '5.11'}, {'fiscalDateEnding': '2022-12-31', 'reportedEPS': '4.13'}, {'fiscalDateEnding': '2021-12-31', 'reportedEPS': '4.59'}, {'fiscalDateEnding': '2020-12-31', 'reportedEPS': '4.05'}, {'fiscalDateEnding': '2019-12-31', 'reportedEPS': '3.11'}, {'fiscalDateEnding': '2018-12-31', 'reportedEPS': '2.42'}, {'fiscalDateEnding': '2017-12-31', 'reportedEPS': '1.91'}, {'fiscalDateEnding': '2016-12-31', 'reportedEPS': '1.5'}, {'fiscalDateEnding': '2015-12-31', 'reportedEPS': '1.29'}], 'quarterlyEarnings': [{'fiscalDateEnding': '2024-12-31', 'reportedDate': '2025-02-05', 'reportedEPS': '1.19', 'estimatedEPS': '1.12', 'surprise': '0.07', 'surprisePercentage': '6.25', 'reportTime': 'pre-market'}, {'fiscalDateEnding': '2024-09-30', 'reportedDate': '2024-10-29', 'reportedEPS': '1.2', 'estimatedEPS': '1.07', 'surprise': '0.13', 'surprisePercentage': '12.1495', 'reportTime': 'pre-market'}, {'fiscalDateEnding': '2024-06-30', 'reportedDate': '2024-07-30', 'reportedEPS': '1.19', 'estimatedEPS': '0.99', 'surprise': '0.2', 'surprisePercentage': '20.202', 'reportTime': 'pre-market'}, {'fiscalDateEnding': '2024-03-31', 'reportedDate': '2024-04-30', 'reportedEPS': '1.4', 'estimatedEPS': '1.22', 'surprise': '0.18', 'surprisePercentage': '14.7541', 'reportTime': 'pre-market'}, {'fiscalDateEnding': '2023-12-31', 'reportedDate': '2024-02-07', 'reportedEPS': '1.48', 'estimatedEPS': '1.36', 'surprise': '0.12', 'surprisePercentage': '8.8235', 'reportTime': 'pre-market'}, {'fiscalDateEnding': '2023-09-30', 'reportedDate': '2023-11-01', 'reportedEPS': '1.3', 'estimatedEPS': '1.23', 'surprise': '0.07', 'surprisePercentage': '5.6911', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2023-06-30', 'reportedDate': '2023-08-02', 'reportedEPS': '1.16', 'estimatedEPS': '1.16', 'surprise': '0', 'surprisePercentage': '0', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2023-03-31', 'reportedDate': '2023-05-08', 'reportedEPS': '1.17', 'estimatedEPS': '1.1', 'surprise': '0.07', 'surprisePercentage': '6.3636', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2022-12-31', 'reportedDate': '2023-02-09', 'reportedEPS': '1.24', 'estimatedEPS': '1.2', 'surprise': '0.04', 'surprisePercentage': '3.3333', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2022-09-30', 'reportedDate': '2022-11-03', 'reportedEPS': '1.08', 'estimatedEPS': '0.96', 'surprise': '0.12', 'surprisePercentage': '12.5', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2022-06-30', 'reportedDate': '2022-08-02', 'reportedEPS': '0.93', 'estimatedEPS': '0.86', 'surprise': '0.07', 'surprisePercentage': '8.1395', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2022-03-31', 'reportedDate': '2022-04-27', 'reportedEPS': '0.88', 'estimatedEPS': '0.88', 'surprise': '0', 'surprisePercentage': '0', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2021-12-31', 'reportedDate': '2022-02-01', 'reportedEPS': '1.11', 'estimatedEPS': '1.12', 'surprise': '-0.01', 'surprisePercentage': '-0.8929', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2021-09-30', 'reportedDate': '2021-11-08', 'reportedEPS': '1.11', 'estimatedEPS': '1.07', 'surprise': '0.04', 'surprisePercentage': '3.7383', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2021-06-30', 'reportedDate': '2021-07-28', 'reportedEPS': '1.15', 'estimatedEPS': '1.12', 'surprise': '0.03', 'surprisePercentage': '2.6786', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2021-03-31', 'reportedDate': '2021-05-05', 'reportedEPS': '1.22', 'estimatedEPS': '1.01', 'surprise': '0.21', 'surprisePercentage': '20.7921', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2020-12-31', 'reportedDate': '2021-02-03', 'reportedEPS': '1.08', 'estimatedEPS': '1', 'surprise': '0.08', 'surprisePercentage': '8', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2020-09-30', 'reportedDate': '2020-11-02', 'reportedEPS': '1.07', 'estimatedEPS': '0.94', 'surprise': '0.13', 'surprisePercentage': '13.8298', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2020-06-30', 'reportedDate': '2020-07-29', 'reportedEPS': '1.07', 'estimatedEPS': '0.88', 'surprise': '0.19', 'surprisePercentage': '21.5909', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2020-03-31', 'reportedDate': '2020-05-06', 'reportedEPS': '0.83', 'estimatedEPS': '0.75', 'surprise': '0.08', 'surprisePercentage': '10.6667', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2019-12-31', 'reportedDate': '2020-01-29', 'reportedEPS': '0.86', 'estimatedEPS': '0.83', 'surprise': '0.03', 'surprisePercentage': '3.6145', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2019-09-30', 'reportedDate': '2019-10-23', 'reportedEPS': '0.61', 'estimatedEPS': '0.52', 'surprise': '0.09', 'surprisePercentage': '17.3077', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2019-06-30', 'reportedDate': '2019-07-24', 'reportedEPS': '0.86', 'estimatedEPS': '0.75', 'surprise': '0.11', 'surprisePercentage': '14.6667', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2019-03-31', 'reportedDate': '2019-04-24', 'reportedEPS': '0.78', 'estimatedEPS': '0.68', 'surprise': '0.1', 'surprisePercentage': '14.7059', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2018-12-31', 'reportedDate': '2019-01-30', 'reportedEPS': '0.69', 'estimatedEPS': '0.67', 'surprise': '0.02', 'surprisePercentage': '2.9851', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2018-09-30', 'reportedDate': '2018-10-18', 'reportedEPS': '0.58', 'estimatedEPS': '0.54', 'surprise': '0.04', 'surprisePercentage': '7.4074', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2018-06-30', 'reportedDate': '2018-07-25', 'reportedEPS': '0.58', 'estimatedEPS': '0.57', 'surprise': '0.01', 'surprisePercentage': '1.7544', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2018-03-31', 'reportedDate': '2018-04-25', 'reportedEPS': '0.57', 'estimatedEPS': '0.54', 'surprise': '0.03', 'surprisePercentage': '5.5556', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2017-12-31', 'reportedDate': '2018-01-31', 'reportedEPS': '0.55', 'estimatedEPS': '0.52', 'surprise': '0.03', 'surprisePercentage': '5.7692', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2017-09-30', 'reportedDate': '2017-10-19', 'reportedEPS': '0.46', 'estimatedEPS': '0.43', 'surprise': '0.03', 'surprisePercentage': '6.9767', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2017-06-30', 'reportedDate': '2017-07-26', 'reportedEPS': '0.46', 'estimatedEPS': '0.43', 'surprise': '0.03', 'surprisePercentage': '6.9767', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2017-03-31', 'reportedDate': '2017-04-26', 'reportedEPS': '0.44', 'estimatedEPS': '0.41', 'surprise': '0.03', 'surprisePercentage': '7.3171', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2016-12-31', 'reportedDate': '2017-01-26', 'reportedEPS': '0.42', 'estimatedEPS': '0.42', 'surprise': '0', 'surprisePercentage': '0', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2016-09-30', 'reportedDate': '2016-10-20', 'reportedEPS': '0.35', 'estimatedEPS': '0.35', 'surprise': '0', 'surprisePercentage': '0', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2016-06-30', 'reportedDate': '2016-07-21', 'reportedEPS': '0.36', 'estimatedEPS': '0.36', 'surprise': '0', 'surprisePercentage': '0', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2016-03-31', 'reportedDate': '2016-04-27', 'reportedEPS': '0.37', 'estimatedEPS': '0.35', 'surprise': '0.02', 'surprisePercentage': '5.7143', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2015-12-31', 'reportedDate': '2016-01-27', 'reportedEPS': '0.36', 'estimatedEPS': '0.35', 'surprise': '0.01', 'surprisePercentage': '2.8571', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2015-09-30', 'reportedDate': '2015-10-28', 'reportedEPS': '0.31', 'estimatedEPS': '0.29', 'surprise': '0.02', 'surprisePercentage': '6.8966', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2015-06-30', 'reportedDate': '2015-07-29', 'reportedEPS': '0.33', 'estimatedEPS': '0.31', 'surprise': '0.02', 'surprisePercentage': '6.4516', 'reportTime': 'post-market'}, {'fiscalDateEnding': '2015-03-31', 'reportedDate': '2015-06-30', 'reportedEPS': '0.29', 'estimatedEPS': 'None', 'surprise': '0', 'surprisePercentage': 'None', 'reportTime': 'pre-market'}]}

In [146]:
df = pd.DataFrame(data['quarterlyEarnings'])

In [148]:
df.shape

(40, 7)

In [150]:
df

,fiscalDateEnding,reportedDate,reportedEPS,estimatedEPS,surprise,surprisePercentage,reportTime
0,2024-12-31,2025-02-05,1.19,1.12,0.07,6.25,pre-market
1,2024-09-30,2024-10-29,1.2,1.07,0.13,12.1495,pre-market
2,2024-06-30,2024-07-30,1.19,0.99,0.2,20.202,pre-market
3,2024-03-31,2024-04-30,1.4,1.22,0.18,14.7541,pre-market
4,2023-12-31,2024-02-07,1.48,1.36,0.12,8.8235,pre-market
5,2023-09-30,2023-11-01,1.3,1.23,0.07,5.6911,post-market
6,2023-06-30,2023-08-02,1.16,1.16,0,0,post-market
7,2023-03-31,2023-05-08,1.17,1.1,0.07,6.3636,post-market
8,2022-12-31,2023-02-09,1.24,1.2,0.04,3.3333,post-market
9,2022-09-30,2022-11-03,1.08,0.96,0.12,12.5,post-market
10,2022-06-30,2022-08-02,0.93,0.86,0.07,8.1395,post-market
11,2022-03-31,2022-04-27,0.88,0.88,0,0,post-market
12,2021-12-31,2022-02-01,1.11,1.12,-0.01,-0.8929,post-market
13,2021-09-30,2021-11-08,1.11,1.07,0.04,3.7383,post-market
14,2021-06-30,2021-07-28,1.15,1.12,0.03,2.6786,post-market
15,2021-03-31,2021-05-05,1.22,1.01,0.21,20.7921,post-market
16,2020-12-31,2021-02-03,1.08,1,0.08,8,post-market
17,2020-09-30,2020-11-02,1.07,0.94,0.13,13.8298,post-market
18,2020-06-30,2020-07-29,1.07,0.88,0.19,21.5909,post-market
19,2020-03-31,2020-05-06,0.83,0.75,0.08,10.6667,post-market
20,2019-12-31,2020-01-29,0.86,0.83,0.03,3.6145,post-market
21,2019-09-30,2019-10-23,0.61,0.52,0.09,17.3077,post-market
22,2019-06-30,2019-07-24,0.86,0.75,0.11,14.6667,post-market
23,2019-03-31,2019-04-24,0.78,0.68,0.1,14.7059,post-market
24,2018-12-31,2019-01-30,0.69,0.67,0.02,2.9851,post-market
25,2018-09-30,2018-10-18,0.58,0.54,0.04,7.4074,post-market
26,2018-06-30,2018-07-25,0.58,0.57,0.01,1.7544,post-market
27,2018-03-31,2018-04-25,0.57,0.54,0.03,5.5556,post-market
28,2017-12-31,2018-01-31,0.55,0.52,0.03,5.7692,post-market
29,2017-09-30,2017-10-19,0.46,0.43,0.03,6.9767,post-market
30,2017-06-30,2017-07-26,0.46,0.43,0.03,6.9767,post-market
31,2017-03-31,2017-04-26,0.44,0.41,0.03,7.3171,post-market
32,2016-12-31,2017-01-26,0.42,0.42,0,0,post-market
33,2016-09-30,2016-10-20,0.35,0.35,0,0,post-market
34,2016-06-30,2016-07-21,0.36,0.36,0,0,post-market
35,2016-03-31,2016-04-27,0.37,0.35,0.02,5.7143,post-market
36,2015-12-31,2016-01-27,0.36,0.35,0.01,2.8571,post-market
37,2015-09-30,2015-10-28,0.31,0.29,0.02,6.8966,post-market
38,2015-06-30,2015-07-29,0.33,0.31,0.02,6.4516,post-market
39,2015-03-31,2015-06-30,0.29,None,0,None,pre-market

In [15]:
df = df.rename(columns={"reportedDate": "Earnings Date"})
df["Earnings Date"] = pd.to_datetime(df["Earnings Date"])
df['daten'] = df['Earnings Date'].apply(lambda x: int(x.timestamp()))
df['daten'] = np.floor(df['daten']/86400)
zdate = pd.to_datetime('2012-01-09')
zdate = int(zdate.timestamp())
zdate = zdate/86400
    
df['timedif'] = df['daten'].apply(lambda x: x-zdate)
df['timedif'] = df['timedif'].astype('int')

In [17]:
df.head()

,fiscalDateEnding,Earnings Date,reportedEPS,estimatedEPS,surprise,surprisePercentage,reportTime,daten,timedif
0,2024-12-31,2025-01-30,2.4,2.36,0.04,1.6949,post-market,20118.0,4770
1,2024-09-30,2024-10-31,1.64,1.6,0.04,2.5,post-market,20027.0,4679
2,2024-06-30,2024-08-01,1.4,1.35,0.05,3.7037,post-market,19936.0,4588
3,2024-03-31,2024-05-02,1.53,1.5,0.03,2,post-market,19845.0,4497
4,2023-12-31,2024-02-01,2.18,2.1,0.08,3.8095,post-market,19754.0,4406

In [19]:
dfprev= df[['Earnings Date', 'daten', 'timedif']].copy()

In [21]:
dfprev.head()

  Earnings Date    daten  timedif
0    2025-01-30  20118.0     4770
1    2024-10-31  20027.0     4679
2    2024-08-01  19936.0     4588
3    2024-05-02  19845.0     4497
4    2024-02-01  19754.0     4406

In [59]:
dfnew.head()

  Earnings Date    daten  timedif
0    2025-04-30  20208.0     4860
1    2025-07-30  20299.0     4951

In [61]:
dfearns = pd.concat([dfprev,dfnew])
dfearns = dfearns.sort_values(by = 'Earnings Date', ascending=False)

In [63]:
dfearns.head()

  Earnings Date    daten  timedif
1    2025-07-30  20299.0     4951
0    2025-04-30  20208.0     4860
0    2025-01-30  20118.0     4770
1    2024-10-31  20027.0     4679
2    2024-08-01  19936.0     4588

In [79]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'daten', 'timedif',
       'dups', 'drop', 'OpenD', 'OpenDn', 'CloseD', 'CloseDn', 'td1', 'td2',
       'OPrice', 'CPrice', 'chg', 'pchg', 'gt10p', 'gt10n', 'sev10p', 'sev10n',
       'gt5p', 'gt5n', 'sev5p', 'sev5n', 'p1sev5p', 'p2sev5p', 'p3sev5p',
       'p1sev5n', 'p2sev5n', 'p3sev5n', 'p1gt5p', 'p2gt5p', 'p3gt5p', 'p1gt5n',
       'p2gt5n', 'p3gt5n', 'p6wkclaimsp', 'p6wkclaimsn', 'bsev5p', 'bsev5n',
       'closevar', 'volvar', 'pclosevar', 'pvolvar', 'p2volvar', 'p2closevar',
       'pvolvarchg', 'pclosevarchg', 'earntimedif', 'DaysTilEarn', 'Stock',
       'sev5pcap', 'Sector'],
      dtype='object')

NEXT STEPS: 

MAKE APPEND STOCK WORK WITH NEW PROCESS

THEN 

GET PREMIUM API KEY, AND GET A FULL DATASET! OR MAYBE

In [102]:
%run datafunctions_AV.py

In [92]:
std_tickers = ['SPY', 'USO', 'VIXY', 'GLD']
std_tick_dict = {}
for tick in std_tickers:
    print(f'Getting Data for standard ticker: {tick}')
    std_tick_dict[f"df{tick}"] = get_std_ticker(tick, '2012-01-01', '2025-01-30')

Getting Data for standard ticker: SPY
Getting Data for standard ticker: USO
Getting Data for standard ticker: VIXY
Getting Data for standard ticker: GLD

In [94]:
std_tick_dict

{'dfSPY':             Date      Open      High       Low     Close      Volume
 0     1999-11-01  136.5000  137.0000  135.5625  135.5625   4006500.0
 1     1999-11-02  135.9687  137.2500  134.5937  134.5937   6516900.0
 2     1999-11-03  136.0000  136.3750  135.1250  135.5000   7222300.0
 3     1999-11-04  136.7500  137.3593  135.7656  136.5312   7907500.0
 4     1999-11-05  138.6250  139.1093  136.7812  137.8750   7431500.0
 ...          ...       ...       ...       ...       ...         ...
 6361  2025-02-14  609.9400  610.9900  609.0700  609.7000  26910448.0
 6362  2025-02-18  610.8800  611.4900  608.3800  611.4900  26749030.0
 6363  2025-02-19  610.0800  613.2300  609.5600  612.9300  31011072.0
 6364  2025-02-20  611.5400  611.6840  607.0200  610.3800  36554002.0
 6365  2025-02-21  610.1600  610.3000  599.4700  599.9400  76519818.0

 [6366 rows x 6 columns],
 'dfUSO':             Date   Open     High    Low  Close     Volume
 0     2006-04-10  68.25  68.4999  67.67  68.02  3877800.0
 1     2006-04-11  68.32  68.3900  67.30  68.20  1296200.0
 2     2006-04-12  68.15  68.8099  67.81  67.84  1248000.0
 3     2006-04-13  67.75  68.9900  67.40  68.82   560500.0
 4     2006-04-17  69.20  69.9000  68.68  69.79   916900.0
 ...          ...    ...      ...    ...    ...        ...
 4743  2025-02-14  76.58  76.7400  75.63  75.82  2425986.0
 4744  2025-02-18  76.69  77.1087  76.35  76.96  2324908.0
 4745  2025-02-19  78.06  78.2000  77.23  77.45  1554217.0
 4746  2025-02-20  77.92  78.4700  77.62  77.76  1626997.0
 4747  2025-02-21  76.70  76.8500  75.34  75.35  2729453.0

 [4748 rows x 6 columns],
 'dfVIXY':             Date   Open   High    Low    Close     Volume
 0     2011-01-04  79.14  81.35  79.14  79.2300   112000.0
 1     2011-01-05  80.05  80.10  77.18  77.5499    74000.0
 2     2011-01-06  77.44  78.68  76.87  77.8800    83000.0
 3     2011-01-07  77.24  80.01  76.18  78.0400    43000.0
 4     2011-01-10  79.64  80.87  77.76  77.8800    70000.0
 ...          ...    ...    ...    ...      ...        ...
 3550  2025-02-14  41.29  41.65  41.02  41.1800  2076403.0
 3551  2025-02-18  40.95  41.37  40.64  41.0000  1560394.0
 3552  2025-02-19  41.27  41.37  40.49  40.5000  2835263.0
 3553  2025-02-20  40.48  41.46  40.22  40.7300  3656073.0
 3554  2025-02-21  40.77  43.91  40.77  43.5600  4080733.0

 [3555 rows x 6 columns],
 'dfGLD':             Date     Open      High     Low   Close      Volume
 0     2004-11-18   44.430   44.4900   44.07   44.38   5992000.0
 1     2004-11-19   44.490   44.9200   44.47   44.78  11655300.0
 2     2004-11-22   44.750   44.9700   44.74   44.95  11996000.0
 3     2004-11-23   44.880   44.9200   44.72   44.75   3169200.0
 4     2004-11-24   44.930   45.0500   44.79   45.05   6105100.0
 ...          ...      ...       ...     ...     ...         ...
 5092  2025-02-14  270.070  270.2100  265.45  266.29  11546721.0
 5093  2025-02-18  269.680  271.0099  269.60  270.70   8185949.0
 5094  2025-02-19  270.680  271.3300  269.24  270.85   9342452.0
 5095  2025-02-20  270.230  271.8400  270.17  270.99   7356900.0
 5096  2025-02-21  270.795  271.5100  269.51  270.74   8917431.0

 [5097 rows x 6 columns]}

In [96]:
symbol = 'USO'

In [98]:
test = std_tick_dict[f'df{symbol}']

In [100]:
test

            Date   Open     High    Low  Close     Volume
0     2006-04-10  68.25  68.4999  67.67  68.02  3877800.0
1     2006-04-11  68.32  68.3900  67.30  68.20  1296200.0
2     2006-04-12  68.15  68.8099  67.81  67.84  1248000.0
3     2006-04-13  67.75  68.9900  67.40  68.82   560500.0
4     2006-04-17  69.20  69.9000  68.68  69.79   916900.0
...          ...    ...      ...    ...    ...        ...
4743  2025-02-14  76.58  76.7400  75.63  75.82  2425986.0
4744  2025-02-18  76.69  77.1087  76.35  76.96  2324908.0
4745  2025-02-19  78.06  78.2000  77.23  77.45  1554217.0
4746  2025-02-20  77.92  78.4700  77.62  77.76  1626997.0
4747  2025-02-21  76.70  76.8500  75.34  75.35  2729453.0

[4748 rows x 6 columns]

In [104]:
df = getData('AAPL', '2012-01-01', '2025-12-30', std_tick_dict)

In [106]:
df

,Date,Open,High,Low,Close,Volume,daten,timedif,dups,drop,...,GLD_bsev5p,GLD_bsev5n,GLD_closevar,GLD_volvar,GLD_pclosevar,GLD_pvolvar,GLD_p2volvar,GLD_p2closevar,GLD_pvolvarchg,GLD_pclosevarchg
0,2012-01-09,425.5001,427.75,421.350,421.730,14072300.0,15348.0,0,0.0,keep,...,0,0,0.000041,0.030902,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-01-23,422.6700,428.45,422.300,427.409,10930800.0,15362.0,14,14.0,keep,...,0,0,0.000157,1.021087,0.000041,0.030902,NaN,NaN,NaN,NaN
2,2012-02-06,458.3800,464.98,458.201,463.970,8907600.0,15376.0,28,28.0,keep,...,0,0,0.000042,0.147284,0.000157,1.021087,0.030902,0.000041,32.042675,2.868794
3,2012-02-17,503.1100,507.77,500.300,502.120,19135900.0,15387.0,42,42.0,keep,...,0,0,0.000470,0.972911,0.000042,0.147284,1.021087,0.000157,-0.855758,-0.730315
4,2012-03-05,545.4200,547.48,526.000,533.160,28897300.0,15404.0,56,56.0,keep,...,0,0,0.000127,0.584637,0.000470,0.972911,0.147284,0.000042,5.605695,10.115416
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338,2024-12-23,254.7700,255.65,253.450,255.270,40858774.0,20080.0,4732,4732.0,keep,...,0,0,0.000059,0.521794,0.000136,0.305123,0.226057,0.000127,0.349763,0.073584
339,2025-01-06,244.3100,247.33,243.200,245.000,45045571.0,20094.0,4746,4746.0,keep,...,0,0,0.000044,0.196473,0.000059,0.521794,0.305123,0.000136,0.710110,-0.568774
340,2025-01-17,232.1150,232.29,228.480,229.980,68488301.0,20105.0,4760,4760.0,keep,...,0,0,0.000073,0.242306,0.000044,0.196473,0.521794,0.000059,-0.623466,-0.254728
341,2025-02-03,229.9900,231.83,225.700,228.010,73063301.0,20122.0,4774,4774.0,keep,...,0,0,0.000078,0.098899,0.000073,0.242306,0.196473,0.000044,0.233280,0.678852
342,2025-02-14,241.2500,245.55,240.990,244.600,40896227.0,20133.0,4788,4788.0,keep,...,0,0,0.000000,0.000000,0.000078,0.098899,0.242306,0.000073,-0.591843,0.068669

In [ ]:
###bad earnings
### COST, PYPL

In [152]:
%run datafunctions_AV.py

In [154]:
std_tickers = ['SPY', 'USO', 'VIXY', 'GLD']
std_tick_dict = {}
for tick in std_tickers:
    print(f'Getting Data for standard ticker: {tick}')
    std_tick_dict[f"df{tick}"] = get_std_ticker(tick, '2012-01-01', '2025-03-30')

Getting Data for standard ticker: SPY
Getting Data for standard ticker: USO
Getting Data for standard ticker: VIXY
Getting Data for standard ticker: GLD

In [156]:
df = getData('AAPL', '2012-01-01', '2025-03-30', std_tick_dict)
tickers= ['MSFT', 'META', 'AMZN', 'NFLX', 'NVDA', 'GOOGL', 'INTC', 'TSLA', 'ORCL', 'AMD', 'CSCO', 'TXN', 'MU', 'QCOM', 'ADBE', 
          'GS', 'BAC', 'JPM', 'C', 'MS', 'BLK', 'LLY', 'JNJ', 'MRK', 'PFE', 'GILD', 'BMY', 'CRM', 'V', 'MA', 'AXP', 'PGR', 'UNH', 
          'CVX', 'WMT', 'HD', 'KO', 'MCD', 'VZ', 'CMCSA', 'T', 'COP', 'NKE', 'MDT', 'SBUX', 'MDLZ', 'MO', 'CMG', 'CVS', 'TGT', 'XOM', 
         'PG', 'PM', 'ABT', 'MRK', 'GE', 'CAT', 'SYK', 'SCHW', 'BA', 'CB', 'LMT', 'UPS', 'WM', 'SHW', 'AON', 'MMM', 'MAR', 'ORLY']
for tick in tickers:
    print(f'Getting Data for: {tick}')
    data = getData(tick, '2012-01-01', '2025-03-30', std_tick_dict)
    df = df.append(data, ignore_index = True)
    time.sleep(random.uniform(5, 15))

Getting Data for: MSFT
Getting Data for: META
Getting Data for: AMZN
Getting Data for: NFLX
Getting Data for: NVDA
Getting Data for: GOOGL
Getting Data for: INTC
Getting Data for: TSLA
Getting Data for: ORCL
Getting Data for: AMD
Getting Data for: CSCO
Getting Data for: TXN
Getting Data for: MU
Getting Data for: QCOM
Getting Data for: ADBE
Getting Data for: GS
Getting Data for: BAC
Getting Data for: JPM
Getting Data for: C
Getting Data for: MS
Getting Data for: BLK
Getting Data for: LLY
Getting Data for: JNJ
Getting Data for: MRK
Getting Data for: PFE
Getting Data for: GILD
Getting Data for: BMY
Getting Data for: CRM
Getting Data for: V
Getting Data for: MA
Getting Data for: AXP
Getting Data for: PGR
Getting Data for: UNH
Getting Data for: CVX
Getting Data for: WMT
Getting Data for: HD
Getting Data for: KO
Getting Data for: MCD
Getting Data for: VZ
Getting Data for: CMCSA
Getting Data for: T
Getting Data for: COP
Getting Data for: NKE
Getting Data for: MDT
Getting Data for: SBUX
Getting Data for: MDLZ
Getting Data for: MO
Getting Data for: CMG
Getting Data for: CVS
Getting Data for: TGT
Getting Data for: XOM
Getting Data for: PG
Getting Data for: PM
Getting Data for: ABT
Getting Data for: MRK
Getting Data for: GE
Getting Data for: CAT
Getting Data for: SYK
Getting Data for: SCHW
Getting Data for: BA
Getting Data for: CB
Getting Data for: LMT
Getting Data for: UPS
Getting Data for: WM
Getting Data for: SHW
Getting Data for: AON
Getting Data for: MMM
Getting Data for: MAR
Getting Data for: ORLY

In [158]:
df.shape

(24000, 265)

In [160]:
df.head()

,Date,Open,High,Low,Close,Volume,daten,timedif,dups,drop,OpenD,OpenDn,CloseD,CloseDn,td1,td2,OPrice,CPrice,chg,pchg,gt10p,gt10n,sev10p,sev10n,gt5p,gt5n,sev5p,sev5n,p1sev5p,p2sev5p,p3sev5p,p1sev5n,p2sev5n,p3sev5n,p1gt5p,p2gt5p,p3gt5p,p1gt5n,p2gt5n,p3gt5n,p6wkclaimsp,p6wkclaimsn,bsev5p,bsev5n,closevar,volvar,pclosevar,pvolvar,p2volvar,p2closevar,pvolvarchg,pclosevarchg,earntimedif,DaysTilEarn,Stock,sev5pcap,Sector,SPY_Date,SPY_Open,SPY_High,SPY_Low,SPY_Close,SPY_Volume,SPY_daten,SPY_timedif,SPY_dups,SPY_drop,SPY_OpenD,SPY_OpenDn,SPY_CloseD,SPY_CloseDn,SPY_td1,SPY_td2,SPY_OPrice,SPY_CPrice,SPY_chg,SPY_pchg,SPY_gt10p,SPY_gt10n,SPY_sev10p,SPY_sev10n,SPY_gt5p,SPY_gt5n,SPY_sev5p,SPY_sev5n,SPY_p1sev5p,SPY_p2sev5p,SPY_p3sev5p,SPY_p1sev5n,SPY_p2sev5n,SPY_p3sev5n,SPY_p1gt5p,SPY_p2gt5p,SPY_p3gt5p,SPY_p1gt5n,SPY_p2gt5n,SPY_p3gt5n,SPY_p6wkclaimsp,SPY_p6wkclaimsn,SPY_bsev5p,SPY_bsev5n,SPY_closevar,SPY_volvar,SPY_pclosevar,SPY_pvolvar,SPY_p2volvar,SPY_p2closevar,SPY_pvolvarchg,SPY_pclosevarchg,USO_Date,USO_Open,USO_High,USO_Low,USO_Close,USO_Volume,USO_daten,USO_timedif,USO_dups,USO_drop,USO_OpenD,USO_OpenDn,USO_CloseD,USO_CloseDn,USO_td1,USO_td2,USO_OPrice,USO_CPrice,USO_chg,USO_pchg,USO_gt10p,USO_gt10n,USO_sev10p,USO_sev10n,USO_gt5p,USO_gt5n,USO_sev5p,USO_sev5n,USO_p1sev5p,USO_p2sev5p,USO_p3sev5p,USO_p1sev5n,USO_p2sev5n,USO_p3sev5n,USO_p1gt5p,USO_p2gt5p,USO_p3gt5p,USO_p1gt5n,USO_p2gt5n,USO_p3gt5n,USO_p6wkclaimsp,USO_p6wkclaimsn,USO_bsev5p,USO_bsev5n,USO_closevar,USO_volvar,USO_pclosevar,USO_pvolvar,USO_p2volvar,USO_p2closevar,USO_pvolvarchg,USO_pclosevarchg,VIXY_Date,VIXY_Open,VIXY_High,VIXY_Low,VIXY_Close,VIXY_Volume,VIXY_daten,VIXY_timedif,VIXY_dups,VIXY_drop,VIXY_OpenD,VIXY_OpenDn,VIXY_CloseD,VIXY_CloseDn,VIXY_td1,VIXY_td2,VIXY_OPrice,VIXY_CPrice,VIXY_chg,VIXY_pchg,VIXY_gt10p,VIXY_gt10n,VIXY_sev10p,VIXY_sev10n,VIXY_gt5p,VIXY_gt5n,VIXY_sev5p,VIXY_sev5n,VIXY_p1sev5p,VIXY_p2sev5p,VIXY_p3sev5p,VIXY_p1sev5n,VIXY_p2sev5n,VIXY_p3sev5n,VIXY_p1gt5p,VIXY_p2gt5p,VIXY_p3gt5p,VIXY_p1gt5n,VIXY_p2gt5n,VIXY_p3gt5n,VIXY_p6wkclaimsp,VIXY_p6wkclaimsn,VIXY_bsev5p,VIXY_bsev5n,VIXY_closevar,VIXY_volvar,VIXY_pclosevar,VIXY_pvolvar,VIXY_p2volvar,VIXY_p2closevar,VIXY_pvolvarchg,VIXY_pclosevarchg,GLD_Date,GLD_Open,GLD_High,GLD_Low,GLD_Close,GLD_Volume,GLD_daten,GLD_timedif,GLD_dups,GLD_drop,GLD_OpenD,GLD_OpenDn,GLD_CloseD,GLD_CloseDn,GLD_td1,GLD_td2,GLD_OPrice,GLD_CPrice,GLD_chg,GLD_pchg,GLD_gt10p,GLD_gt10n,GLD_sev10p,GLD_sev10n,GLD_gt5p,GLD_gt5n,GLD_sev5p,GLD_sev5n,GLD_p1sev5p,GLD_p2sev5p,GLD_p3sev5p,GLD_p1sev5n,GLD_p2sev5n,GLD_p3sev5n,GLD_p1gt5p,GLD_p2gt5p,GLD_p3gt5p,GLD_p1gt5n,GLD_p2gt5n,GLD_p3gt5n,GLD_p6wkclaimsp,GLD_p6wkclaimsn,GLD_bsev5p,GLD_bsev5n,GLD_closevar,GLD_volvar,GLD_pclosevar,GLD_pvolvar,GLD_p2volvar,GLD_p2closevar,GLD_pvolvarchg,GLD_pclosevarchg
0,2012-01-09,425.5001,427.75,421.350,421.730,14072300.0,15348.0,0,0.0,keep,2012-01-09 00:00:00,15348.0,2012-01-20 00:00:00,15359.0,0.0,11.0,425.5001,420.30,-0.012221,NaN,0,0,0.0,0.0,0,0,0.000000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.000085,0.072464,NaN,NaN,NaN,NaN,NaN,NaN,15,15,AAPL,0.000000,Tech,2012-01-09,128.00,128.18,127.41,128.02,99225199.0,15348.0,0,0.0,keep,2012-01-09 00:00:00,15348.0,2012-01-20 00:00:00,15359.0,0.0,11.0,128.00,131.95,0.030859,NaN,0,0,0.0,0.0,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.000025,0.062495,NaN,NaN,NaN,NaN,NaN,NaN,2012-01-09,39.11,39.14,38.560,39.08,7508519.0,15348.0,0,0.0,keep,2012-01-09 00:00:00,15348.0,2012-01-20 00:00:00,15359.0,0.0,11.0,39.11,37.78,-0.034007,NaN,0,0,0.0,0.0,0,0,0.000000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.000194,0.194111,NaN,NaN,NaN,NaN,NaN,NaN,2012-01-09,67.08,67.58,66.26,66.68,41500.0,15348.0,0,0.0,keep,2012-01-09 00:00:00,15348.0,2012-01-20 00:00:00,15359.0,0.0,11.0,67.08,60.55,-0.097346,NaN,0,0,0.0,0.000000,0,1,0.000000,0.047346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2,0.000506,0.477238,NaN,NaN,NaN,NaN,NaN,NaN,2012-01-09,157.360,157.59,156.190,156.50,8764806.0,15348.0,0,0.0,keep,2012-01-09 00:00:00,15348.0,2012-01-20 00:00:00,15359.0,0.0,11.0,157.360,162.07,0.029931,NaN,0,0,0.0,0.0,0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.000041,0.030902,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-01-23,422.6700,428.45,422.300,427.409,10930800.0,15362.0,14,14.0,keep,2012-01-23 00:00:00,15362.0,2012-02-03 00:00:00,15373.0,14.0,25.0,422.6700,459.68,0.087562,-0.012221,0,0,0.0,0.0,1,0,0.037562,0.0,0.000000,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,2,0,0.000444,0.243177,0.000085,0.072464,NaN,NaN,NaN,NaN,15,1,AAPL,0.037562,Tech,2012-01-23,131.51,132.25,130.98,131.61,129162435.0,15362.0,14,14.0,keep,2012-01-23 00:00:00,15362.0,2012-02-03 00:00:00,15373.0,14.0,25.0,131.51,134.54,0.023040,0.030859,0,0,0.0,0.0,0,0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0,0,0.000039,0.137948,0.000025,0.062495,NaN,NaN,NaN,NaN,2012-01-23,38.02,38.52,37.960,38.39,8469458.0,15362.0,14,14.0,keep,2012-01-23 00:00:00,15362.0,2012-02-03 00:00:00,15373.0,14.0,25.0,38.02,37.59,-0.011310,-0.034007,0,0,0.0,0.0,0,0,0.000000,0.0,0.000000,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0,0,0.000086,0.288522,0.000194,0.194111,NaN,NaN,NaN,NaN,2012-01-23,60.48,60.83,58.60,59.02,182500.0,15362.0,14,14.0,keep,2012-01-23 00:00:00,15362.0,2012-02-03 00:00:00,15373.0,14.0,25.0,60.48,51.05,-0.155919,-0.097346,0,1,0.0,0.055919,0,1,0.000000,0.105919,0.000000,NaN,NaN,0.047346,NaN,NaN,0.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0,3,0.000627,0.432269,0.000506,0.477238,NaN,NaN,NaN,NaN,2012-01-23,162.325,163.47,162.325,163.16,8831870.0,15362.0,14,14.0,keep,2012-01-23 00:00:00,15362.0,2012-02-03 00:00:00,15373.0,14.0,25.0,162.325,167.64,0.032743,0.029931,0,0,0.0,0.0,0,0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0,0,0.000157,1.021087,0.000041,0.030902,NaN,NaN,NaN,NaN
2,2012-02-06,458.3800,464.98,458.201,463.970,8907600.0,15376.0,28,28.0,keep,2012-02-06 00:00:00,15376.0,2012-02-17 00:00:00,15387.0,28.0,39.0,458.3800,502.12,0.095423,0.087562,0,0,0.0,0.0,1,0,0.045423,0.0,0.037562,0.000000,NaN,0.0,0.0,NaN,1.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,2,0,0.000225,0.725629,0.000444,0.243177,0.072464,0.000085,2.355840,4.240022,106,78,AAPL,0.045423,Tech,2012-02-06,133.98,134.51,133.83,134.45,107517511.0,15376.0,28,28.0,keep,2012-02-06 00:00:00,15376.0,2012-02-17 00:00:00,15387.0,28.0,39.0,133.98,136.41,0.018137,0.023040,0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,0,0,0.000029,0.067969,0.000039,0.137948,0.062495,0.000025,1.207358,0.601457,2012-02-06,37.33,37.53,37.130,37.33,6124539.0,15376.0,28,28.0,keep,2012-02-06 00:00:00,15376.0,2012-02-17 00:00:00,15387.0,28.0,39.0,37.33,39.75,0.064827,-0.011310,0,0,0.0,0.0,1,0,0.014827,0.0,0.000000,0.000000,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,1,0,0.000076,0.354109,0.000086,0.288522,0.194111,0.000194,0.486374,-0.553829,2012-02-06,51.54,51.59,50.48,50.48,115500.0,15376.0,28,28.0,keep,2012-02-06 00:00:00,15376.0,2012-02-17 00:00:00,15387.0,28.0,39.0,51.54,56.52,0.096624,-0.155919,0,0,0.0,0.000000,1,0,0.046624,0.000000,0.000000,0.000000,NaN,0.105919,0.047346,NaN,0.0,0.0,NaN,1.0,1.0,NaN,NaN,NaN,2,0,0.002339,0.730356,0.000627,0.432269,0.477238,0.000506,-0.094229,0.237867,2012-02-06,166.960,167.68,166.610,167.18,8771205.0,15376.0,28,28.0,keep,2012-02-06 00:00:00,15376.0,2012-02-17 00:00:00,15387.0,28.0,39.0,166.960,167.35,0.002336,0.032743,0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,0,0,0.000042,0.147284,0.000157,1.021087,0.030902,0.000041,32.042675,2.868794
3,2012-02-17,503.1100,507.77,500.300,502.120,19135900.0,15387.0,42,42.0,keep,2012-02-17 00:00:00,15387.0,2012-03-02 00:00:00,15401.0,42.0,53.0,503.1100,545.18,0.083620,0.095423,0,0,0.0,0.0,1,0,0.033620,0.0,0.045423,0.037562,0.000000,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,2,0,0.000079,0.103328,0.000225,0.725629,0.243177,0.000444,1.983949,-0.494018,106,64,AAPL,0.033620,Tech,2012-02-17,136.52,136.63,135.96,136.41,129075063.0,15387.0,42,42.0,keep,2012-02-17 00:00:00,15387.0,2012-03-02 00:00:00,15401.0,42.0,53.0,136.52,137.31,0.005787,0.018137,0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.000012,0.061879,0.000029,0.067969,0.137948,0.000039,-0.507283,-0.262504,2012-02-17,39.71,39.75,39.425,39.75,7893637.0,15387.0,42,42.0,keep,2012-02-17 00:00:00,15387.0,2012-03-02 00:00:00,15401.0,42.0,53.0,39.71,40.77,0.026694,0.064827,0,0,0.0,0.0,0,0,0.000000,0.0,0.014827,0.000000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0,0.000302,0.167341,0.000076,0.354109,0.288522,0.000086,0.227320,-0.117158,2012-02-17,56.38,58.00,55.83,56.52,293500.0,15387.0,42,42.0,keep,2012-02-17 00:00:00,15387.0,2012-03-02 00:00:00,15401.0,42.0,53.0,56.38,51.67,-0.083540,0.096624,0,0,0.0,0.000000,0,1,0.000000,0.033540,0.046624,0.000000,0.0,0.000000,0.105919,0.047346,1.0,0.0,0.0,0.0,1.0,1.0,1.0,2.0,0,2,0.000779,0.065150,0.002339,0.730356,0.432269,0.000627,0.689589,2.731935,2012-02-17,168.290,168.33,166.872,167.35,7286847.0,15387.0,42,42.0,keep,2012-02-17 00:00:00,15387.0,2012-03-02 00:00:00,15401.0,42.0,53.0,168.290,166.34,-0.011587,0.002336,0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.000470,0.972911,0.000042,0.147284,1.021087,0.000157,-0.855758,-0.730315
4,2012-03-05,545.4200,547.48,526.000,533.160,28897300.0,15404.0,56,56.0,keep,2012-03-05 00:00:00,15404.0,2012-03-16 00:00:00,15415.0,56.0,67.0,545.4200,585.57,0.073613,0.083620,0,0,0.0,0.0,1,0,0.023613,0.0,0.033620,0.045423,0.037562,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,3.0,0.0,1,0,0.000328,0.265626,0.000079,0.103328,0.725629,0.000225,-0.857602,-0.646515,106,50,AAPL,0.023613,Tech,2012-03-05,137.10,137.20,136.28,136.75,140544479.0,15404.0,56,56.0,keep,2012-03-05 00:00:00,15404.0,2012-03-16 00:00:00,15415.0,56.0,67.0,137.10,140.30,0.023341,0.005787,0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.000079,0.107845,0.000012,0.061879,0.067969,0.000029,-0.089603,-0.599176,2012-03-05,40.93,40.99,40.570,40.97,7398350.0,15404.0,56,56.0,keep,2012-03-05 00:00:00,15404.0,2012-03-16 00:00:00,15415.0,56.0,67.0,40.93,41.03,0.002443,0.026694,0,0,0.0,0.0,0,0,0.000000,0.0,0.000000,0.014827,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0,0.000135,0.616693,0.000302,0.167341,0.354109,0.000076,-0.527432,2.960977,2012-03-05,51.98,52.48,51.18,51.50,230500.0,15404.0,56,56.0,keep,2012-03-05 00:00:00,15404.0,2012-03-16 00:00:00,15415.0,56.0,67.0,51.98,45.79,-0.119084,-0.083540,0,1,0.0,0.019084,0,1,0.000000,0.069084,0.000000,0.046624,0.0,0.033540,0.000000,0.105919,0.0,1.0,0.0,1.0,0.0,1.0,1.0,2.0,0,2,0.001585,0.338163,0.000779,0.065150,0.730356,0.002339,-0.910797,-0.667152,2012-03-05,165.770,165.91,164.550,165.65,12069034.0,15404.0,56,56.0,keep,2012-03-05 00:00:00,15404.0,2012-03-16 00:00:00,15415.0,56.0,67.0,165.770,161.30,-0.026965,-0.011587,0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.000127,0.584637,0.000470,0.972911,0.147284,0.000042,5.605695,10.115416

In [162]:
df.tail()

,Date,Open,High,Low,Close,Volume,daten,timedif,dups,drop,OpenD,OpenDn,CloseD,CloseDn,td1,td2,OPrice,CPrice,chg,pchg,gt10p,gt10n,sev10p,sev10n,gt5p,gt5n,sev5p,sev5n,p1sev5p,p2sev5p,p3sev5p,p1sev5n,p2sev5n,p3sev5n,p1gt5p,p2gt5p,p3gt5p,p1gt5n,p2gt5n,p3gt5n,p6wkclaimsp,p6wkclaimsn,bsev5p,bsev5n,closevar,volvar,pclosevar,pvolvar,p2volvar,p2closevar,pvolvarchg,pclosevarchg,earntimedif,DaysTilEarn,Stock,sev5pcap,Sector,SPY_Date,SPY_Open,SPY_High,SPY_Low,SPY_Close,SPY_Volume,SPY_daten,SPY_timedif,SPY_dups,SPY_drop,SPY_OpenD,SPY_OpenDn,SPY_CloseD,SPY_CloseDn,SPY_td1,SPY_td2,SPY_OPrice,SPY_CPrice,SPY_chg,SPY_pchg,SPY_gt10p,SPY_gt10n,SPY_sev10p,SPY_sev10n,SPY_gt5p,SPY_gt5n,SPY_sev5p,SPY_sev5n,SPY_p1sev5p,SPY_p2sev5p,SPY_p3sev5p,SPY_p1sev5n,SPY_p2sev5n,SPY_p3sev5n,SPY_p1gt5p,SPY_p2gt5p,SPY_p3gt5p,SPY_p1gt5n,SPY_p2gt5n,SPY_p3gt5n,SPY_p6wkclaimsp,SPY_p6wkclaimsn,SPY_bsev5p,SPY_bsev5n,SPY_closevar,SPY_volvar,SPY_pclosevar,SPY_pvolvar,SPY_p2volvar,SPY_p2closevar,SPY_pvolvarchg,SPY_pclosevarchg,USO_Date,USO_Open,USO_High,USO_Low,USO_Close,USO_Volume,USO_daten,USO_timedif,USO_dups,USO_drop,USO_OpenD,USO_OpenDn,USO_CloseD,USO_CloseDn,USO_td1,USO_td2,USO_OPrice,USO_CPrice,USO_chg,USO_pchg,USO_gt10p,USO_gt10n,USO_sev10p,USO_sev10n,USO_gt5p,USO_gt5n,USO_sev5p,USO_sev5n,USO_p1sev5p,USO_p2sev5p,USO_p3sev5p,USO_p1sev5n,USO_p2sev5n,USO_p3sev5n,USO_p1gt5p,USO_p2gt5p,USO_p3gt5p,USO_p1gt5n,USO_p2gt5n,USO_p3gt5n,USO_p6wkclaimsp,USO_p6wkclaimsn,USO_bsev5p,USO_bsev5n,USO_closevar,USO_volvar,USO_pclosevar,USO_pvolvar,USO_p2volvar,USO_p2closevar,USO_pvolvarchg,USO_pclosevarchg,VIXY_Date,VIXY_Open,VIXY_High,VIXY_Low,VIXY_Close,VIXY_Volume,VIXY_daten,VIXY_timedif,VIXY_dups,VIXY_drop,VIXY_OpenD,VIXY_OpenDn,VIXY_CloseD,VIXY_CloseDn,VIXY_td1,VIXY_td2,VIXY_OPrice,VIXY_CPrice,VIXY_chg,VIXY_pchg,VIXY_gt10p,VIXY_gt10n,VIXY_sev10p,VIXY_sev10n,VIXY_gt5p,VIXY_gt5n,VIXY_sev5p,VIXY_sev5n,VIXY_p1sev5p,VIXY_p2sev5p,VIXY_p3sev5p,VIXY_p1sev5n,VIXY_p2sev5n,VIXY_p3sev5n,VIXY_p1gt5p,VIXY_p2gt5p,VIXY_p3gt5p,VIXY_p1gt5n,VIXY_p2gt5n,VIXY_p3gt5n,VIXY_p6wkclaimsp,VIXY_p6wkclaimsn,VIXY_bsev5p,VIXY_bsev5n,VIXY_closevar,VIXY_volvar,VIXY_pclosevar,VIXY_pvolvar,VIXY_p2volvar,VIXY_p2closevar,VIXY_pvolvarchg,VIXY_pclosevarchg,GLD_Date,GLD_Open,GLD_High,GLD_Low,GLD_Close,GLD_Volume,GLD_daten,GLD_timedif,GLD_dups,GLD_drop,GLD_OpenD,GLD_OpenDn,GLD_CloseD,GLD_CloseDn,GLD_td1,GLD_td2,GLD_OPrice,GLD_CPrice,GLD_chg,GLD_pchg,GLD_gt10p,GLD_gt10n,GLD_sev10p,GLD_sev10n,GLD_gt5p,GLD_gt5n,GLD_sev5p,GLD_sev5n,GLD_p1sev5p,GLD_p2sev5p,GLD_p3sev5p,GLD_p1sev5n,GLD_p2sev5n,GLD_p3sev5n,GLD_p1gt5p,GLD_p2gt5p,GLD_p3gt5p,GLD_p1gt5n,GLD_p2gt5n,GLD_p3gt5n,GLD_p6wkclaimsp,GLD_p6wkclaimsn,GLD_bsev5p,GLD_bsev5n,GLD_closevar,GLD_volvar,GLD_pclosevar,GLD_pvolvar,GLD_p2volvar,GLD_p2closevar,GLD_pvolvarchg,GLD_pclosevarchg
23995,2024-12-23,1210.23,1210.3450,1195.55,1207.26,309297.0,20080.0,4732,4732.0,keep,2024-12-23 00:00:00,20080.0,2025-01-03 00:00:00,20091.0,4732.0,4743.0,1210.23,1204.22,-0.004966,-0.031422,0,0,0.0,0.0,0,0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.000123,0.278272,0.000077,0.224010,0.506158,0.000057,-0.557432,0.370203,4776,44,ORLY,0.000000,Unknown,2024-12-23,590.89,595.30,587.661,594.69,57635828.0,20080.0,4732,4732.0,keep,2024-12-23 00:00:00,20080.0,2025-01-03 00:00:00,20091.0,4732.0,4743.0,590.89,591.95,0.001794,-0.027218,0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.000082,0.128897,0.000116,0.112303,0.073105,0.000011,0.536182,9.557895,2024-12-23,72.91,73.07,72.10,73.06,1894517.0,20080.0,4732,4732.0,keep,2024-12-23 00:00:00,20080.0,2025-01-03 00:00:00,20091.0,4732.0,4743.0,72.91,77.92,0.068715,0.026253,0,0,0.0,0.0,1,0,0.018715,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0.000066,0.483351,0.000123,0.039886,0.310333,0.000250,-0.871473,-0.507003,2024-12-23,46.37,48.00,43.9800,44.06,1248461.0,20080.0,4732,4732.0,keep,2024-12-23 00:00:00,20080.0,2025-01-03 00:00:00,20091.0,4732.0,4743.0,46.37,43.49,-0.062109,0.144004,0,0,0.0,0.000000,0,1,0.0,0.012109,0.094004,0.000000,0.000000,0.000000,0.010585,0.000000,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0,1,0.001815,0.172140,0.006372,0.320751,0.047248,0.000160,5.788671,38.900701,2024-12-23,241.60,241.6700,240.6500,240.96,5835498.0,20080.0,4732,4732.0,keep,2024-12-23 00:00:00,20080.0,2025-01-03 00:00:00,20091.0,4732.0,4743.0,241.60,243.49,0.007823,-0.016973,0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.000059,0.521794,0.000136,0.305123,0.226057,0.000127,0.349763,0.073584
23996,2025-01-06,1197.64,1223.0602,1196.32,1210.47,301136.0,20094.0,4746,4746.0,keep,2025-01-06 00:00:00,20094.0,2025-01-17 00:00:00,20105.0,4746.0,4757.0,1197.64,1216.79,0.015990,-0.004966,0,0,0.0,0.0,0,0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.000050,0.140005,0.000123,0.278272,0.224010,0.000077,0.242233,0.587056,4776,30,ORLY,0.000000,Unknown,2025-01-06,596.27,599.70,593.600,595.36,47679442.0,20094.0,4746,4746.0,keep,2025-01-06 00:00:00,20094.0,2025-01-17 00:00:00,20105.0,4746.0,4757.0,596.27,597.58,0.002197,0.001794,0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.000103,0.091783,0.000082,0.128897,0.112303,0.000116,0.147766,-0.292499,2025-01-06,78.43,78.90,77.06,77.30,2141772.0,20094.0,4746,4746.0,keep,2025-01-06 00:00:00,20094.0,2025-01-17 00:00:00,20105.0,4746.0,4757.0,78.43,82.52,0.052148,0.068715,0,0,0.0,0.0,1,0,0.002148,0.000000,0.018715,0.000000,0.000000,0.000000,0.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0.000449,0.148412,0.000066,0.483351,0.039886,0.000123,11.118313,-0.464183,2025-01-06,43.06,44.09,42.5300,43.16,1380679.0,20094.0,4746,4746.0,keep,2025-01-06 00:00:00,20094.0,2025-01-17 00:00:00,20105.0,4746.0,4757.0,43.06,43.14,0.001858,-0.062109,0,0,0.0,0.000000,0,0,0.0,0.000000,0.000000,0.094004,0.000000,0.012109,0.000000,0.010585,0.0,1.0,0.0,1.0,0.0,1.0,1.0,2.0,0,0,0.002057,0.137485,0.001815,0.172140,0.320751,0.006372,-0.463322,-0.715228,2025-01-06,242.33,243.7900,242.0500,243.19,3758903.0,20094.0,4746,4746.0,keep,2025-01-06 00:00:00,20094.0,2025-01-17 00:00:00,20105.0,4746.0,4757.0,242.33,249.27,0.028639,0.007823,0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.000044,0.196473,0.000059,0.521794,0.305123,0.000136,0.710110,-0.568774
23997,2025-01-17,1227.97,1227.9700,1210.98,1216.79,278679.0,20105.0,4760,4760.0,keep,2025-01-17 00:00:00,20105.0,2025-01-31 00:00:00,20119.0,4760.0,4771.0,1227.97,1294.42,0.054114,0.015990,0,0,0.0,0.0,1,0,0.004114,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0.000161,0.122388,0.000050,0.140005,0.278272,0.000123,-0.496878,-0.595890,4776,16,ORLY,0.004114,Unknown,2025-01-17,596.96,599.36,595.610,597.58,58070628.0,20105.0,4760,4760.0,keep,2025-01-17 00:00:00,20105.0,2025-01-31 00:00:00,20119.0,4760.0,4771.0,596.96,601.82,0.008141,0.002197,0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.000062,0.222700,0.000103,0.091783,0.128897,0.000082,-0.287939,0.253902,2025-01-17,82.52,83.00,82.23,82.52,2297613.0,20105.0,4760,4760.0,keep,2025-01-17 00:00:00,20105.0,2025-01-31 00:00:00,20119.0,4760.0,4771.0,82.52,78.02,-0.054532,0.052148,0,0,0.0,0.0,0,1,0.000000,0.004532,0.002148,0.018715,0.000000,0.000000,0.000000,0.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0,1,0.000132,0.100875,0.000449,0.148412,0.483351,0.000066,-0.692952,5.811510,2025-01-17,42.17,43.16,42.1018,43.14,1276563.0,20105.0,4760,4760.0,keep,2025-01-17 00:00:00,20105.0,2025-01-31 00:00:00,20119.0,4760.0,4771.0,42.17,43.37,0.028456,0.001858,0,0,0.0,0.000000,0,0,0.0,0.000000,0.000000,0.000000,0.094004,0.000000,0.012109,0.000000,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0,0,0.001081,0.518943,0.002057,0.137485,0.172140,0.001815,-0.201317,0.133728,2025-01-17,249.70,250.8100,249.1500,249.27,8312858.0,20105.0,4760,4760.0,keep,2025-01-17 00:00:00,20105.0,2025-01-31 00:00:00,20119.0,4760.0,4771.0,249.70,258.56,0.035483,0.028639,0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.000073,0.242306,0.000044,0.196473,0.521794,0.000059,-0.623466,-0.254728
23998,2025-02-03,1297.50,1317.9950,1291.10,1316.06,439111.0,20122.0,4774,4774.0,keep,2025-02-03 00:00:00,20122.0,2025-02-14 00:00:00,20133.0,4774.0,4785.0,1297.50,1318.80,0.016416,0.054114,0,0,0.0,0.0,0,0,0.000000,0.0,0.004114,0.000000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0,0.000133,0.103046,0.000161,0.122388,0.140005,0.000050,-0.125830,2.244573,4776,2,ORLY,0.000000,Unknown,2025-02-03,592.67,600.29,590.490,597.77,65857248.0,20122.0,4774,4774.0,keep,2025-02-03 00:00:00,20122.0,2025-02-14 00:00:00,20133.0,4774.0,4785.0,592.67,609.70,0.028734,0.008141,0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.000039,0.120272,0.000062,0.222700,0.091783,0.000103,1.426393,-0.395293,2025-02-03,78.42,78.77,76.94,77.82,4200160.0,20122.0,4774,4774.0,keep,2025-02-03 00:00:00,20122.0,2025-02-14 00:00:00,20133.0,4774.0,4785.0,78.42,75.82,-0.033155,-0.054532,0,0,0.0,0.0,0,0,0.000000,0.000000,0.000000,0.002148,0.018715,0.004532,0.000000,0.0,0.0,1.0,1.0,1.0,0.0,0.0,2.0,1.0,0,0,0.000177,0.288204,0.000132,0.100875,0.148412,0.000449,-0.320306,-0.705634,2025-02-03,46.45,47.33,42.7000,44.21,2960255.0,20122.0,4774,4774.0,keep,2025-02-03 00:00:00,20122.0,2025-02-14 00:00:00,20133.0,4774.0,4785.0,46.45,41.18,-0.113455,0.028456,0,1,0.0,0.013455,0,1,0.0,0.063455,0.000000,0.000000,0.000000,0.000000,0.000000,0.012109,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0,2,0.000395,0.174516,0.001081,0.518943,0.137485,0.002057,2.774534,-0.474588,2025-02-03,259.75,261.3897,259.5236,259.94,11521093.0,20122.0,4774,4774.0,keep,2025-02-03 00:00:00,20122.0,2025-02-14 00:00:00,20133.0,4774.0,4785.0,259.75,266.29,0.025178,0.035483,0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.000078,0.098899,0.000073,0.242306,0.196473,0.000044,0.233280,0.678852
23999,2025-02-14,1340.66,1340.6600,1317.79,1318.80,344571.0,20133.0,4788,4788.0,keep,2099-01-01 00:00:00,2099-01-01 00:00:00,2099-01-01 00:00:00,2099-01-01 00:00:00,2099-01-01 00:00:00,2099-01-01 00:00:00,999.00,999.00,0.000000,0.016416,0,0,0.0,0.0,0,0,0.000000,0.0,0.000000,0.004114,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0,0.000000,0.000000,0.000133,0.103046,0.122388,0.000161,-0.158035,-0.176721,4852,64,ORLY,0.000000,Unknown,2025-02-14,609.94,610.99,609.070,609.70,26910448.0,20133.0,4788,4788.0,keep,2099-01-01 00:00:00,2099-01-01 00:00:00,2099-01-01 00:00:00,2099-01-01 00:00:00,2099-01-01 00:00:00,2099-01-01 00:00:00,999.00,999.00,0.000000,0.028734,0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.000000,0.000000,0.000039,0.120272,0.222700,0.000062,-0.459939,-0.369748,2025-02-14,76.58,76.74,75.63,75.82,2425986.0,20133.0,4788,4788.0,keep,2099-01-01 00:00:00,2099-01-01 00:00:00,2099-01-01 00:00:00,2099-01-01 00:00:00,2099-01-01 00:00:00,2099-01-01 00:00:00,999.00,999.00,0.000000,-0.033155,0,0,0.0,0.0,0,0,0.000000,0.000000,0.000000,0.000000,0.002148,0.000000,0.004532,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0,0,0.000000,0.000000,0.000177,0.288204,0.100875,0.000132,1.857056,0.341358,2025-02-14,41.29,41.65,41.0200,41.18,2076403.0,20133.0,4788,4788.0,keep,2099-01-01 00:00:00,2099-01-01 00:00:00,2099-01-01 00:00:00,2099-01-01 00:00:00,2099-01-01 00:00:00,2099-01-01 00:00:00,999.00,999.00,0.000000,-0.113455,0,0,0.0,0.000000,0,0,0.0,0.000000,0.000000,0.000000,0.000000,0.063455,0.000000,0.000000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0,0,0.000000,0.000000,0.000395,0.174516,0.518943,0.001081,-0.663709,-0.634168,2025-02-14,270.07,270.2100,265.4500,266.29,11546721.0,20133.0,4788,4788.0,keep,2099-01-01 00:00:00,2099-01-01 00:00:00,2099-01-01 00:00:00,2099-01-01 00:00:00,2099-01-01 00:00:00,2099-01-01 00:00:00,999.00,999.00,0.000000,0.025178,0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.000000,0.000000,0.000078,0.098899,0.242306,0.000073,-0.591843,0.068669

In [120]:
pd.options.display.max_columns = None

In [126]:
pd.options.display.max_rows = None

In [130]:
df[df['Stock']=='COST'][['Date', 'timedif', 'DaysTilEarn']]

            Date  timedif  DaysTilEarn
12267 2012-01-09        0          136
12268 2012-01-23       14          122
12269 2012-02-06       28          108
12270 2012-02-17       42           94
12271 2012-03-05       56           80
12272 2012-03-19       70           66
12273 2012-04-02       84           52
12274 2012-04-16       98           38
12275 2012-04-30      112           24
12276 2012-05-14      126           10
12277 2012-05-25      140          135
12278 2012-06-11      154          121
12279 2012-06-25      168          107
12280 2012-07-09      182           93
12281 2012-07-23      196           79
12282 2012-08-06      210           65
12283 2012-08-20      224           51
12284 2012-08-31      238           37
12285 2012-09-17      252           23
12286 2012-10-01      266            9
12287 2012-10-15      280           58
12288 2012-10-26      294           44
12289 2012-11-12      308           30
12290 2012-11-26      322           16
12291 2012-12-10      336            2
12292 2012-12-24      350          157
12293 2013-01-07      364          143
12294 2013-01-18      378          129
12295 2013-02-04      392          115
12296 2013-02-15      406          101
12297 2013-03-04      420           87
12298 2013-03-18      434           73
12299 2013-04-01      448           59
12300 2013-04-15      462           45
12301 2013-04-29      476           31
12302 2013-05-13      490           17
12303 2013-05-24      504            3
12304 2013-06-10      518          121
12305 2013-06-24      532          107
12306 2013-07-08      546           93
12307 2013-07-22      560           79
12308 2013-08-05      574           65
12309 2013-08-19      588           51
12310 2013-08-30      602           37
12311 2013-09-16      616           23
12312 2013-09-30      630            9
12313 2013-10-14      644           58
12314 2013-10-28      658           44
12315 2013-11-11      672           30
12316 2013-11-25      686           16
12317 2013-12-09      700            2
12318 2013-12-23      714           73
12319 2014-01-06      728           59
12320 2014-01-17      742           45
12321 2014-02-03      756           31
12322 2014-02-14      770           17
12323 2014-03-03      784            3
12324 2014-03-17      798          205
12325 2014-03-31      812          191
12326 2014-04-14      826          177
12327 2014-04-28      840          163
12328 2014-05-12      854          149
12329 2014-05-23      868          135
12330 2014-06-09      882          121
12331 2014-06-23      896          107
12332 2014-07-07      910           93
12333 2014-07-21      924           79
12334 2014-08-04      938           65
12335 2014-08-18      952           51
12336 2014-08-29      966           37
12337 2014-09-15      980           23
12338 2014-09-29      994            9
12339 2014-10-13     1008           58
12340 2014-10-27     1022           44
12341 2014-11-10     1036           30
12342 2014-11-24     1050           16
12343 2014-12-08     1064            2
12344 2014-12-22     1078           73
12345 2015-01-05     1092           59
12346 2015-01-16     1106           45
12347 2015-02-02     1120           31
12348 2015-02-13     1134           17
12349 2015-03-02     1148            3
12350 2015-03-16     1162          197
12351 2015-03-30     1176          183
12352 2015-04-13     1190          169
12353 2015-04-27     1204          155
12354 2015-05-11     1218          141
12355 2015-05-22     1232          127
12356 2015-06-08     1246          113
12357 2015-06-22     1260           99
12358 2015-07-06     1274           85
12359 2015-07-20     1288           71
12360 2015-08-03     1302           57
12361 2015-08-17     1316           43
12362 2015-08-31     1330           29
12363 2015-09-14     1344           15
12364 2015-09-28     1358            1
12365 2015-10-12     1372           57
12366 2015-10-26     1386           43
12367 2015-11-09     1400           29
12368 2015-11-23     1414           15
12369 2015-12-07     1428            1
12370 2015-12-21     1442          156
12371 2016-01-04     1456          142
12372 2016-01-15     1470          128
12373 2016-02-01     1484          114
12374 2016-02-12     1498          100
12375 2016-02-29     1512           86
12376 2016-03-14     1526           72
12377 2016-03-28     1540           58
12378 2016-04-11     1554           44
12379 2016-04-25     1568           30
12380 2016-05-09     1582           16
12381 2016-05-23     1596            2
12382 2016-06-06     1610          115
12383 2016-06-20     1624          101
12384 2016-07-01     1638           87
12385 2016-07-18     1652           73
12386 2016-08-01     1666           59
12387 2016-08-15     1680           45
12388 2016-08-29     1694           31
12389 2016-09-12     1708           17
12390 2016-09-26     1722            3
12391 2016-10-10     1736           58
12392 2016-10-24     1750           44
12393 2016-11-07     1764           30
12394 2016-11-21     1778           16
12395 2016-12-05     1792            2
12396 2016-12-19     1806          157
12397 2016-12-30     1820          143
12398 2017-01-13     1834          129
12399 2017-01-30     1848          115
12400 2017-02-13     1862          101
12401 2017-02-27     1876           87
12402 2017-03-13     1890           73
12403 2017-03-27     1904           59
12404 2017-04-10     1918           45
12405 2017-04-24     1932           31
12406 2017-05-08     1946           17
12407 2017-05-22     1960            3
12408 2017-06-05     1974          122
12409 2017-06-19     1988          108
12410 2017-07-03     2002           94
12411 2017-07-17     2016           80
12412 2017-07-31     2030           66
12413 2017-08-14     2044           52
12414 2017-08-28     2058           38
12415 2017-09-11     2072           24
12416 2017-09-25     2086           10
12417 2017-10-09     2100           66
12418 2017-10-23     2114           52
12419 2017-11-06     2128           38
12420 2017-11-20     2142           24
12421 2017-12-04     2156           10
12422 2017-12-18     2170          164
12423 2017-12-29     2184          150
12424 2018-01-12     2198          136
12425 2018-01-29     2212          122
12426 2018-02-12     2226          108
12427 2018-02-26     2240           94
12428 2018-03-12     2254           80
12429 2018-03-26     2268           66
12430 2018-04-09     2282           52
12431 2018-04-23     2296           38
12432 2018-05-07     2310           24
12433 2018-05-21     2324           10
12434 2018-06-04     2338          122
12435 2018-06-18     2352          108
12436 2018-07-02     2366           94
12437 2018-07-16     2380           80
12438 2018-07-30     2394           66
12439 2018-08-13     2408           52
12440 2018-08-27     2422           38
12441 2018-09-10     2436           24
12442 2018-09-24     2450           10
12443 2018-10-08     2464           66
12444 2018-10-22     2478           52
12445 2018-11-05     2492           38
12446 2018-11-19     2506           24
12447 2018-12-03     2520           10
12448 2018-12-17     2534          164
12449 2018-12-31     2548          150
12450 2019-01-14     2562          136
12451 2019-01-28     2576          122
12452 2019-02-11     2590          108
12453 2019-02-25     2604           94
12454 2019-03-11     2618           80
12455 2019-03-25     2632           66
12456 2019-04-08     2646           52
12457 2019-04-22     2660           38
12458 2019-05-06     2674           24
12459 2019-05-20     2688           10
12460 2019-06-03     2702          122
12461 2019-06-17     2716          108
12462 2019-07-01     2730           94
12463 2019-07-15     2744           80
12464 2019-07-29     2758           66
12465 2019-08-12     2772           52
12466 2019-08-26     2786           38
12467 2019-09-09     2800           24
12468 2019-09-23     2814           10
12469 2019-10-07     2828           66
12470 2019-10-21     2842           52
12471 2019-11-04     2856           38
12472 2019-11-18     2870           24
12473 2019-12-02     2884           10
12474 2019-12-16     2898          164
12475 2019-12-30     2912          150
12476 2020-01-13     2926          136
12477 2020-01-27     2940          122
12478 2020-02-10     2954          108
12479 2020-02-24     2968           94
12480 2020-03-09     2982           80
12481 2020-03-23     2996           66
12482 2020-04-06     3010           52
12483 2020-04-20     3024           38
12484 2020-05-04     3038           24
12485 2020-05-18     3052           10
12486 2020-06-01     3066          115
12487 2020-06-15     3080          101
12488 2020-06-29     3094           87
12489 2020-07-13     3108           73
12490 2020-07-27     3122           59
12491 2020-08-10     3136           45
12492 2020-08-24     3150           31
12493 2020-09-04     3164           17
12494 2020-09-21     3178            3
12495 2020-10-05     3192           66
12496 2020-10-19     3206           52
12497 2020-11-02     3220           38
12498 2020-11-16     3234           24
12499 2020-11-30     3248           10
12500 2020-12-14     3262          164
12501 2020-12-28     3276          150
12502 2021-01-11     3290          136
12503 2021-01-25     3304          122
12504 2021-02-08     3318          108
12505 2021-02-22     3332           94
12506 2021-03-08     3346           80
12507 2021-03-22     3360           66
12508 2021-04-05     3374           52
12509 2021-04-19     3388           38
12510 2021-05-03     3402           24
12511 2021-05-17     3416           10
12512 2021-05-28     3430          115
12513 2021-06-14     3444          101
12514 2021-06-28     3458           87
12515 2021-07-12     3472           73
12516 2021-07-26     3486           59
12517 2021-08-09     3500           45
12518 2021-08-23     3514           31
12519 2021-09-03     3528           17
12520 2021-09-20     3542            3
12521 2021-10-04     3556           66
12522 2021-10-18     3570           52
12523 2021-11-01     3584           38
12524 2021-11-15     3598           24
12525 2021-11-29     3612           10
12526 2021-12-13     3626          164
12527 2021-12-27     3640          150
12528 2022-01-10     3654          136
12529 2022-01-24     3668          122
12530 2022-02-07     3682          108
12531 2022-02-18     3696           94
12532 2022-03-07     3710           80
12533 2022-03-21     3724           66
12534 2022-04-04     3738           52
12535 2022-04-18     3752           38
12536 2022-05-02     3766           24
12537 2022-05-16     3780           10
12538 2022-05-27     3794          115
12539 2022-06-13     3808          101
12540 2022-06-27     3822           87
12541 2022-07-11     3836           73
12542 2022-07-25     3850           59
12543 2022-08-08     3864           45
12544 2022-08-22     3878           31
12545 2022-09-02     3892           17
12546 2022-09-19     3906            3
12547 2022-10-03     3920           66
12548 2022-10-17     3934           52
12549 2022-10-31     3948           38
12550 2022-11-14     3962           24
12551 2022-11-28     3976           10
12552 2022-12-12     3990          164
12553 2022-12-23     4004          150
12554 2023-01-09     4018          136
12555 2023-01-23     4032          122
12556 2023-02-06     4046          108
12557 2023-02-17     4060           94
12558 2023-03-06     4074           80
12559 2023-03-20     4088           66
12560 2023-04-03     4102           52
12561 2023-04-17     4116           38
12562 2023-05-01     4130           24
12563 2023-05-15     4144           10
12564 2023-05-26     4158          120
12565 2023-06-12     4172          106
12566 2023-06-26     4186           92
12567 2023-07-10     4200           78
12568 2023-07-24     4214           64
12569 2023-08-07     4228           50
12570 2023-08-21     4242           36
12571 2023-09-01     4256           22
12572 2023-09-18     4270            8
12573 2023-10-02     4284           73
12574 2023-10-16     4298           59
12575 2023-10-30     4312           45
12576 2023-11-13     4326           31
12577 2023-11-27     4340           17
12578 2023-12-11     4354            3
12579 2023-12-22     4368           73
12580 2024-01-08     4382           59
12581 2024-01-22     4396           45
12582 2024-02-05     4410           31
12583 2024-02-16     4424           17
12584 2024-03-04     4438            3
12585 2024-03-18     4452           73
12586 2024-04-01     4466           59
12587 2024-04-15     4480           45
12588 2024-04-29     4494           31
12589 2024-05-13     4508           17
12590 2024-05-24     4522            3
12591 2024-06-10     4536          108
12592 2024-06-24     4550           94
12593 2024-07-08     4564           80
12594 2024-07-22     4578           66
12595 2024-08-05     4592           52
12596 2024-08-19     4606           38
12597 2024-08-30     4620           24
12598 2024-09-16     4634           10
12599 2024-09-30     4648           73
12600 2024-10-14     4662           59
12601 2024-10-28     4676           45
12602 2024-11-11     4690           31
12603 2024-11-25     4704           17
12604 2024-12-09     4718            3
12605 2024-12-23     4732          156
12606 2025-01-06     4746          142
12607 2025-01-17     4760          128

In [164]:
df.to_csv('data_2_23_25.csv', index = True)